.page {
    min-width: 1100px;
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    background-color: pink;
    background-image: url(./image/wpapers_ru_Мост-в-Санкт-Петербурге.jpg);
    background-size: 100%;
    background-position: 0% 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border: 1px solid red;
}


/*
.header__logo {
    width: 700px;
    height: 700px;
    /* background-image: url(./image/photo_2022-04-13_12-51-54.jpg);
    background-size: cover;
    border-radius: 50%; 
    position: absolute;
    left: 0;
    z-index: 0;
} */

.header__title {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin: 150px 50px auto;
}

.header__subtitle {
    position: relative;
    color: white;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 100px;
}

.header__opisanie {
    padding-left: 20px;
    position: relative;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    border: 1px solid blue;
}

.header__photo {
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 0;
    width: 900px;
    height: 900px;
    background-image: url(./image/photo_2022-04-13_12-53-31.png);
    background-size: cover;
    border-radius: 50%;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.guests {
    background-color: white;
    background: linear-gradient(lightblue, pink);
    border: 1px solid blue;
    position: relative;
}

.section__title {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: 40px;
}

.section__subtitle {
    margin: 100px auto;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    line-height: 40px;
}

.table {
    position: relative;
    z-index: 1;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table__guest {
    margin: 0;
    margin-right: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid lightblue;
    width: 300px;
    text-align: center;
}

.table__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(./image/photo_2022-04-13_13-31-08.jpg);
    background-position: center;
}

.table__name {
    font-size: 25px;
    font-weight: 600;
}

.table__name_green {
    color: green;
}

.table__name_red {
    color: red;
}

.table__name_pink {
    color: pink;
}

.table__meet {
    font-size: 22px;
    font-weight: 400;
}

.guests__spravka {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

.guest__spravka-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}

.guest__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
}

.guest__spravka {
    font-weight: 500;
    font-size: 25px;
}

.wishlist {
    padding: 0;
    margin: 0;
    background-color: honeydew;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}